<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="icons">
        <ion-icon name="arrow-back-outline" (click)="navegar()" id="atras-detail"></ion-icon>
        <ion-icon name="home-outline" routerLink="/tabs/tab2" id="home"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{cliente}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
